@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap');

body {
  background-color: rgb(235, 227, 213);
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(119, 107, 93);
}

h1 {
  text-decoration: underline double;
  font-family: "agbalumo",sans-serif;
}

h3 {
  text-decoration: underline;
}

h1,h3 {
  color: rgb(90, 88, 85);
}

ul {
  list-style: none;
}

ol {
  text-align: justify;
}

img {
  border: double;
  border-radius: 20px;
  border: 2px solid burlywood;
}

button {
  border: none;  
  background-color: rgb(235, 227, 213);
}

.back-to-main-page {
  width: 100px;
  font-size:50px ;
}